.header {
 height: 100%;
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-top: 0px;
}
.header-titles {
  color: white;
  background-color: rgb(6, 85, 122);
  padding: 1px;
  margin-top: 0px;
  text-align: center;
  font-weight: 600;
}
.buttonDays {
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    height: 17%;
    margin-top: 0rem;
    border:  1px solid grey;
  }
 
  @media (max-width: 768px) {
    
     }
  
  
  